[Desktop Entry]
Type=Application
Exec=/home/yuleshow/Applications/calibre4/calibre
Terminal=false
Hidden=false
Name=Calibre 4
Icon=/home/yuleshow/Applications/calibre4/resources/images/apple-touch-icon.png
