[Desktop Entry]
Type=Application
Icon=/home/yuleshow/ubuntu-configuration/icons/freac.svg
Name=fre:ac

Terminal=false
Hidden=false
Exec=/home/yuleshow/Applications/freac-1.1.4-linux-x86_64.AppImage
